# Preparing bank panel data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import os
print(os.getcwd())

C:\temp\Project

In [3]:
from load_data.load_bank_panel import load_call_reports
from load_data.load_bank_panel import load_risk_reports

## Loading Data from Bank Reports

### Defining parameters for loading data

#### 1. Specify the folder containing bank reports

In [4]:
call_reports_folder = r"C:\temp\Data\call_reports_folder"

#### 2. Specify the names of the bank reports and the columns required for retrieval

In [5]:
files_dic = {
    # File with banks' info
    'FFIEC CDR Call Bulk POR': {'IDRSSD': 'IDRSSD', 
                                'Financial Institution Name': 'Financial Institution Name'},
    
    # Balance Sheet
    'FFIEC CDR Call Schedule RC': {'IDRSSD': 'IDRSSD',
                                   'RCFD2170': 'TOTAL ASSETS', 
                                   'RCFN2200': 'TOTAL DEPOSITS',
                                   'RCFD3300': 'TOT LIAB, RESERVE & CAPITAL ACCOUNTS', 
                                   'RCFD2948': 'TOTAL LIABILITIES', 
                                   'RCON3210': 'TOTAL EQUITY CAPITAL'},
    # Income Statement
    'FFIEC CDR Call Schedule RI': {'IDRSSD': 'IDRSSD',
                                   'RIAD4074': 'NET INTEREST INCOME',
                                   'RIAD4073': 'TOTAL INTEREST EXPENSE',
                                   'RIAD4107': 'TOTAL INTEREST INCOME',
                                   'RIAD4079': 'TOTAL NONINTEREST INCOME',
                                   'RIAD4093': 'TOTAL NONINTEREST EXPENSE',
                                   'RIAD4300': 'NET INCOME BEFORE EXTRAORDINARY ITEM', 
                                   'RIAD4301': 'INCOME (LOSS) BEFORE APPLICABLE INCOME TAXES', 
                                   'RIAD4230': 'PROVISION FOR LOAN AND LEASE LOSSES',
                                   'RIADJJ33': 'Provision for loan and lease losses'}
}

### Loading

In [6]:
df_call_reports = load_call_reports(call_reports_folder, files_dic)

In [7]:
df_call_reports

,Report Date,IDRSSD,Financial Institution Name,RCFN2200,RCON3210,RCFD3300,RCFD2948,RCFD2170,RIAD4074,RIAD4079,RIAD4073,RIAD4107,RIAD4301,RIAD4300,RIAD4093,RIAD4230,RIADJJ33
0,2001-03-31,37,BANK OF HANCOCK COUNTY,NaN,11424,NaN,NaN,NaN,725,75,602,1327,295,220,462,45,NaN
1,2001-03-31,242,"FIRST NATIONAL BANK OF XENIA, THE",NaN,3503,NaN,NaN,NaN,224,30,201,425,90,67,164,0,NaN
2,2001-03-31,279,"MINEOLA COMMUNITY BANK, SSB",NaN,15481,NaN,NaN,NaN,537,55,1026,1563,114,104,500,0,NaN
3,2001-03-31,354,BISON STATE BANK,NaN,1091,NaN,NaN,NaN,77,2,71,148,11,11,68,0,NaN
4,2001-03-31,439,PEOPLES BANK,NaN,15717,NaN,NaN,NaN,1703,264,1447,3150,702,464,1265,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
611049,2024-09-30,5859511,"TIAA TRUST, NATIONAL ASSOCIATION",NaN,235576,NaN,NaN,NaN,6965,233641,0,6965,73871,66532,166735,NaN,0
611050,2024-09-30,5860740,COMMUNITY UNITY BANK,NaN,22913,NaN,NaN,NaN,1284,20,586,1870,-1920,-2010,2913,NaN,311
611051,2024-09-30,5887420,"PREFERRED LEGACY NATIONAL TRUST BANK, THE",NaN,8916,NaN,NaN,NaN,116,1842,0,116,-412,-412,2370,NaN,0
611052,2024-09-30,5903517,FOUR STATES BANK,NaN,22830,NaN,NaN,NaN,112,0,3,115,-1101,-1101,1133,NaN,80
611053,2024-09-30,5972661,PAYCOM NATIONAL TRUST BANK,NaN,8134,NaN,NaN,NaN,99,757,0,99,537,434,319,NaN,0

## Loading Data from UBPR Reports

### Defining parameters for loading data

#### 1. Specify the folder containing UBPR reports

In [8]:
risk_reports_folder = r"C:\temp\Data\UBPR_reports_folder"

#### 2. Specify the names of the UBPR reports and the columns required for retrieval

In [9]:
files_dic = {
   
    # Balance Sheet
    'FFIEC CDR UBPR Ratios Balance Sheet dollar': {
        'Reporting Period': 'Reporting Period',
        'ID RSSD': 'ID RSSD',
        'UBPR2170': 'TOTAL ASSETS',
        'UBPR2200': 'TOTAL DEPOSITS',
        'UBPR3300': 'TOT LIAB, RESERVE & CAPITAL ACCOUNTS',
        'UBPR3545': 'TOTAL TRADING ASSETS',
    },
    
    # Summary Ratios
    'FFIEC CDR UBPR Ratios Summary Ratios': {
        'Reporting Period': 'Reporting Period',
        'ID RSSD': 'ID RSSD',
        'UBPRD659': 'Average Total Assets ($000)', 
        'UBPRE001': 'Interest Income (TE) as a percent of Average Assets',
        'UBPRE002': 'Interest Expense as a percent of Average Assets',
        'UBPRE003': 'Net Interest Income (TE) as a percent of Average Assets',
        'UBPRE004': 'Noninterest Income as a percent of Average Assets',
        'UBPRE005': 'Non-Interest Expense as a percent of Average Assets',
        'UBPRE006': 'Provision for Loan & Lease Losses as a percent of Average Assets',
        'UBPRKW07': 'Provision for credit losses on all other assets as a percent of average assets',
        
        #Net interest income on a tax-equivalent basis plus noninterest income, less noninterest expense, the provision for loan
        #and lease-financing receivable losses and the provision for allocated transfer risk, divided by average assets.
        'UBPRE007': 'Pretax Operating Income (TE) as a percent of Average Assets',
        
        # Pretax operating income, plus securities gains or losses divided by average assets.
        'UBPRE009': 'Pretax Net Operating Income (TE) as a percent of Average Assets',
        
        #After tax net operating income, including securities gains or losses, (which does not include extraordinary gains or losses),
        #divided by average assets.
        'UBPRE010': 'Net Operating Income as a percent of Average Assets',
        
        # Net operating income after taxes and securities gains or losses, plus the provision for possible loan and lease losses,
        #less net loan and lease losses, divided by average assets.
        'UBPRE011': 'Adjusted Net Operating Income as a percent of Average Assets',
        
        # Net income after securities gains or losses, extraordinary gains or losses, and applicable taxes 
        # divided by average assets.
        'UBPRE013': 'Net Income as a percent of Average Assets',
        
        # Total interest income on a tax-equivalent basis divided by the average of the respective asset accounts involved in
        # generating that income.
        'UBPRE016': 'Interest Income (TE) as a percent of Average Earning Assets',
        
        # Total interest expense divided by the average of the respective asset accounts involved in generating interest income.
        'UBPRE017': 'Interest Expense to Average Earning Assets',
        
        # Total interest income on a tax-equivalent basis, less total interest expense, divided by the average of the respective asset
        # accounts involved in generating interest income.
        'UBPRE018': 'Net Interest Income (TE) as a percent of Average Earning Assets',
        
        #Gross loan and lease charge-off, less gross recoveries (includes allocated transfer risk reserve charge-off and recoveries),
        #divided by average total loans and leases.
        'UBPRE019': 'Net Loss as a percent of Average Total Loans and Leases',
        
        #The sum of loans and lease financing receivables past due at least 90 days, plus those in nonaccrual status, 
        #divided by gross loans and lease-financing receivables outstanding.
        'UBPR7414': 'Noncurrent Loans and Leases to Gross Loans and Leases',
        
        #Tier One Leverage Ratio from Call Report Schedule RC-R.
        'UBPRD486': 'Tier One Leverage Capital',
        
        'UBPRD488': 'Total Risk-Based Capital to Risk-Weighted Assets',
          
    },
    
    
    # Liquidity
    'FFIEC CDR UBPR Ratios Liquidity and Funding': {
        'Reporting Period': 'Reporting Period',
        'ID RSSD': 'ID RSSD',
        'UBPRE591': 'Core Deposits as a percent of Total Assets',
        'UBPRE598': 'Short Term Assets as a percent Short Term Liabilities',
        'UBPRE599': 'Net Short Term Liabilities as a percent of Total Assets',
        'UBPRE600': 'Net Loans & Leases as a percent of Total Deposits',
        
    },
    
    # Income Statement
    'FFIEC CDR UBPR Ratios Income Statement dollar': {
        'Reporting Period': 'Reporting Period',
        'ID RSSD': 'ID RSSD',
        'UBPRPG64': 'Pre Provision Net Revenue YTD $ (TE)',
    },
    
}

In [18]:
df_risk_reports["Report Date"] = pd.to_datetime(
    df_risk_reports["Report Date"],
    format='%Y-%m-%d',  # Określ format, jeśli jest znany
    errors='coerce'     # Obsługa błędnych wartości
).dt.date

In [19]:
if df_risk_reports["Report Date"].isna().any():
    print("Niepoprawne wartości w 'Report Date':")
    print(df_risk_reports[df_risk_reports["Report Date"].isna()])

In [21]:
import warnings
warnings.filterwarnings("ignore", message="Could not infer format")

In [22]:
df_risk_reports = load_risk_reports(risk_reports_folder, files_dic)

In [23]:
df_risk_reports

,Report Date,IDRSSD,UBPR3545,UBPR2200,UBPR2170,UBPR3300,UBPRD486,UBPRE006,UBPRD488,UBPRE017,...,UBPRD659,UBPRE013,UBPRKW07,UBPR7414,UBPRE018,UBPRE591,UBPRE600,UBPRE599,UBPRE598,UBPRPG64
0,2002-12-31,37,0,61501,74327,74327,17.1400,0.26,32.9700,3.44,...,69925,1.21,NaN,1.50,4.70,69.03,63.99,2.48,91.07,1458.0
1,2002-12-31,242,0,20614,25737,25737,14.2400,0.07,15.0300,2.23,...,25698,1.64,NaN,0.32,4.41,74.20,88.40,-5.42,121.83,440.0
2,2002-12-31,279,0,77842,132091,132091,12.6500,0.03,39.9700,3.10,...,120144,0.79,NaN,0.12,2.85,46.13,36.39,27.04,18.06,1520.0
3,2002-12-31,354,0,7054,8408,8408,13.8200,0.21,25.6900,1.83,...,8394,0.80,NaN,6.21,4.74,74.38,61.79,28.94,37.89,86.0
4,2002-12-31,439,0,132029,150496,150496,9.1200,0.34,13.6800,2.08,...,147274,0.98,NaN,1.49,5.06,75.04,79.75,10.60,73.20,2845.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
579209,2024-09-30,5859511,0,0,275116,275116,89.7826,0.00,290.5082,0.00,...,237385,37.37,0.00,NaN,4.47,0.00,NaN,-86.01,NaN,73871.0
579210,2024-09-30,5860740,0,27260,51726,51726,45.4836,0.91,89.4982,1.91,...,43211,-6.20,0.05,0.00,4.17,39.94,107.24,-6.87,143.90,-1609.0
579211,2024-09-30,5887420,0,0,9039,9039,100.1235,0.00,98.6392,0.00,...,8437,-6.51,0.00,NaN,3.41,0.00,NaN,-48.66,NaN,-412.0
579212,2024-09-30,5903517,0,2243,25079,25079,96.8111,3.45,NaN,0.13,...,23582,-47.47,0.00,0.00,4.97,8.94,360.32,-65.94,330820.00,-1021.0
579213,2024-09-30,5972661,0,0,8565,8565,104.7521,0.00,357.0676,0.00,...,7765,43.52,0.00,NaN,9.93,0.00,NaN,-91.02,NaN,537.0

## Merging Data from Call Reports and UBPR reports

In [24]:
df_bank_panel = df_call_reports.merge(df_risk_reports, how='outer', on=['Report Date', 'IDRSSD'])

In [25]:
df_bank_panel.to_csv('df_bank_panel.csv')